<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guide Me</title>
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="../static/css/guide.css">
</head>
<body>
<span style="align-content:flex-start"><h2>Steps to run the project:</h2></span>
    <ul>
        <li>
            Create Admin.
        </li>
        <li>
            In the admin section add Language.
        </li>
        <br>
        <br>
        <li>
            Create Categories
        </li>
        <li>
            Create Author
        </li>
    </ul>
    <br>
<br>
    <h3> You can able to sign up or sign in with normally or with social auth</h3>
    <br>
    <a href="{% url 'main' %}">Back</a>
</body>
</html>