{% extends 'base.html' %}

{% block title %}Login Page{% endblock title %}

{% block content %} 
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% csrf_token %}
                    {% for non_field_error in form.non_field_errors %}
                        <p class="help is-danger">{{ non_field_error }}</p>
                    {% endfor %}
                    {% for field in form %}
                        <div class="field">
                            <label for="{{ field.id_for_label }}" class="label">{{ field.html_name }}</label>
                            {{ field }}
                        {% for error in field.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        </div>
                    {% endfor %}
                    <input type="submit" value="SIGN IN" class="button is-primary">
        <br><br>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
        <br><br>
        <a href="{% url 'signup' %}">Sign Up</a>
        <br><br>
        <a href="{% url 'home' %}">Home</a>
    </form>
{% endblock content %}