<html>
    <head>
        <meta charset="utf-8">
        <title>Input From UI Design</title>
        <link rel="stylesheet" href="../../static/css/login.css"/>
        <link rel="shortcut icon" href="../../static/images/logo.png" type="image/x-icon"/>
    </head>
<html>
    <body>
        <div class="box">
            <h2>Login</h2>
            <form>
                <div class="inputBox">
                    <input type="text" name="" required="">
                    <label>username</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="" required="">
                    <label>password</label>
                </div>
                <input type="submit" name="" value="submit">
            </form>
        </div>
    </body>
</html>
