<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="shortcut icon" href="static/images/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="login-box">
        <div class="left-box">
            <h1>Sign Up</h1>
            <form action="{% url 'signup' %}" method="post">
            <div class="input-box">{{ form.username }}</div>
                                     {{ username.errors }}
            <div class="input-box">{{ form.email }}</div>
                                    {{ email.errors}}
            <div class="input-box">{{ form.password1 }}</div>
                                    {{ password1.errors }}
            <div class="input-box">{{ form.password2 }}</div>
                                    {{ password1.errors }}
            <input type="submit" class="submit-btn" value="Sign in">
            </form>
        </div>
        <div class="right-box">
            <span class="right-title">Sign Up with <br> Social Network</span>
            <button class="social google">Login with Google+</button>
            <button class="social github fa fa-github">Login with Github</button>
        </div>
        <div class="or">
            OR
        </div>
    </div>
</body>
</html>