<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <link rel="stylesheet" href="/static/css/signup.css"/>
    <link rel="shortcut icon" href="/../static/images/logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="login-box">
        <div class="left-box">
            <h1>Sign Up</h1>
            <form action="{% url 'signup' %}" method="post"> {% csrf_token %}
                {% for field in form %}
                    <div class="input-box"> {{ field }}</div>
                    {% for error in field.errors %}
                        <p class="is-danger error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}

            <input type="submit" class="submit-btn" value="Register">
            </form>
        </div>
        <div class="right-box">
            <span class="right-title">Sign Up with <br> Social Network</span>
            <button class="social google">
                <a href="{% url 'social:begin' 'google-oauth2' %}">
                    Sign Up with Google+</a>
            </button>
            <button class="social github fa fa-github">
                <a href="{% url 'social:begin' 'github' %}">Sign Up with Github</a>
            </button>
        </div>
        <div class="or">
            OR
        </div>
    </div>
</body>
</html>